.header {
    background-color: #222;
    grid-area: header;
    color: #fff;
}

.header nav ul {
    list-style: none;

}

.header-nav-list {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    align-items: center;
}

.header a {
    color: #fff;
    text-decoration: none;
}

.header-links {
    display: flex;
    justify-content: start;
    gap: 2rem;
}

.header-logo {
    font-weight: 700;
    font-size: 1.5rem;
}