.purchase-confirmation {
    position: absolute;
    z-index: 2;
    background-color: #fff;
    display: grid;
    justify-items: center;
    align-items: center;
    justify-self: center;
    align-self: center;
    padding: 4rem;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    margin-top: 4rem;
}

.show {
    transition: opacity 500ms;
    opacity: 1;
}

.hidden {
    opacity: 0;
}

.close-purchase-confirmation {
    display: grid;
    align-items: center;
    justify-items: center;
    border: 2px solid #000;
    background-color: #000;
    color: #FFF;
    padding: 1rem 2.5rem;
    font-weight: bold;
    font-size: 1rem;
    margin-top: 2rem;
    cursor: pointer;
}

.close-purchase-confirmation:hover {
    background-color: #FFF;
    color: #000;
}