.shopping-cart-link-container {
    width: 3rem;
    background-color: #fff;
    color: #000;
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-radius: 8px;
}

.cart-items-number {
    display: grid;
    align-items: center;
    justify-items: center;
    padding: 0 .5rem 0 .5rem;
}

.shopping-cart-link-container a {
    background-color: #555;
    border-left: 1px solid #333;
    color: #fff;
    display: grid;
    align-items: center;
    justify-items: center;
    padding: 0.5rem 1rem 0.5rem 1rem;
    border-radius: 0 8px 8px 0;
}

