.shopping-cart-item {
    display: grid;
    grid-column: span 4;
    grid-template-columns: subgrid;
    border-bottom: 1px solid #ddd;
    padding: 1rem 0;
    align-items: center;
}

.shopping-cart-item:first-of-type {
    border-top: 1px solid #ddd;
}

.shopping-cart-item-header {
    display: grid;
    grid-template-columns: repeat(4, 1fr);    
}

.shopping-cart-item-header>p {
    font-weight: bold;
}

.shopping-cart-item-header p {
    margin: 0;
}

.shopping-cart-item-header .shopping-cart-sum {
    grid-column: 1;
    grid-row: 1;
    font-weight: bold;
    align-self: start;
}

.shopping-cart-item-header .shopping-cart-empty-message {
    grid-row: 2;
    grid-column: 1 / -1;
    justify-self: center;
    margin-top: 2rem;
    font-weight: 500;
}

.shopping-cart-item-price::before, .shopping-cart-sum-amount:before {
    content: "$";
}

.shopping-cart-bottom {
    margin-top: 2rem;
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: subgrid;
}

.checkout-button {
    grid-column: 4;
    justify-self: start;
    align-self: start;
    border: 2px solid #000;
    background-color: #000;
    color: #FFF;
    padding: .6rem 2rem;
    font-weight: bold;
    font-size: 1rem;
    cursor: pointer;
}

.checkout-button:hover {
    background-color: #FFF;
    color: #000;
}

.delete-shopping-cart-item {
    display: grid;
    justify-items: center;
    align-items: center;
    padding: 0.3rem;
    justify-self: start;
    border: none;
    background-color: #FFF;
    cursor: pointer;
    color: rgb(255, 46, 46);
    border: 1px solid #ddd;
    font-size: 1rem;
}

.delete-shopping-cart-item:hover{
    color: rgb(255, 90, 90);
}
