.shopping-cart-item {
    display: grid;
    grid-column: span 3;
    grid-template-columns: subgrid;
    border-bottom: 1px solid #ddd;
    padding: 1rem 0;
}

.shopping-cart-item:first-of-type {
    border-top: 1px solid #ddd;
}

.shopping-cart-item-header {
    display: grid;
    grid-template-columns: repeat(4, 1fr);    
}

.shopping-cart-item-header>p {
    font-weight: bold;
}

.shopping-cart-item-header p {
    margin: 0;
}

.shopping-cart-item-header .shopping-cart-sum {
    grid-column: 3;
    margin-top: 20px; 
}